* {
  box-sizing: border-box;
}
.content-container {
  margin-left: 25%;
  padding: 20px 16px;
}
.sidebar {
  width: 25%;
}
.header {
  min-height: 60px;
  text-shadow: 2px 2px 4px black;
  box-shadow: 0px 1px 2px gray;
}
/*li a:visited {
  color: #63759E;
}
li a:link {
  color: #63759E;
}
li a:hover {
  color: #1DE538;
}
*/
