{
  "extends": "airbnb",
  "root": true,
  "rules": {
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx"]}
    ],
    "react/forbid-prop-types": [
      <enabled>,
      {
        "forbid": [<string>],
        checkContextTypes: <boolean>, checkChildContextTypes: <boolean>
      }
    ]
  },
  "env": {
    "browser": true
  }
}
